<div class="container">
  <h1>Your Cart</h1>
  <ng-container *ngIf="items$ | async as items">
    <p *ngIf="!items.length">Cart is empty.</p>
    <mat-list *ngIf="items.length">
      <mat-list-item *ngFor="let item of items;trackBy:track">
        <img matListAvatar [src]="item.product.imageUrl" alt="">
        <h4 matLine>{{ item.product.name }}</h4>
        <p matLine class="sub">Qty: {{ item.qty }} • {{ item.product.price|currency }}</p>
        <button mat-icon-button color="warn" (click)="remove(item.product.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="total-row" *ngIf="items.length">
      <span>Total:</span><span class="price">{{ total(items)|currency }}</span>
    </div>
    <button mat-raised-button color="primary" (click)="clear()" *ngIf="items.length">Clear Cart</button>
  </ng-container>
</div>
